---
import Layout from '../components//Layout.astro';
import * as Image from '../scripts/ImagePath'
---
<head>
  <title>License and Contribution Guidelines - MoonRay Production Renderer</title>
</head>

<Layout>
  <img src={Image.license_cover} class="w-full" />
  <div class="p-10 m-5">
  <h1 class="text-3xl font-bold pb-5">License</h1>

  <p class="pb-10">
    MoonRay is released under the <a href="https://www.apache.org/licenses/LICENSE-2.0" class="text-blue-600 underline">Apache License, Version 2.0</a>, 
    which is a free, open-source, and detailed software license developed and maintained by the Apache Software Foundation.
  </p>

  <h1 class="text-2xl pb-5">Contribution Guidelines</h1>
  <p class="pb-10">
    Developers who wish to contribute code to be considered for inclusion in the MoonRay project must follow the contribution guidelines outlined <a href="https://github.com/openmoonray/openmoonray/blob/main/CONTRIBUTING.md" class="text-blue-600 underline">here</a>.
  </p>

  </div>
</Layout>

