<footer class="text-gray-800 p-4 text-center flex flex-col items-center justify-center w-full mt-auto">
  <p>Copyright © Moonray a Series of LF Projects, LLC</p>
  <p>For web site terms of use, trademark policy and other project policies please see https://lfprojects.org.</p>
</footer>
